<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>servletLogin</servlet-name>
  	<display-name>servletLogin</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletABCCareer</servlet-name>
  	<display-name>servletABCCareer</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletABCCareer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletABCPlan</servlet-name>
  	<display-name>servletABCPlan</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletABCPlan</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletABCSchool</servlet-name>
  	<display-name>servletABCSchool</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletABCSchool</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletABCSubjects</servlet-name>
  	<display-name>servletABCSubjects</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletABCSubjects</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletABCUsers</servlet-name>
  	<display-name>servletABCUsers</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletABCUsers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletExam</servlet-name>
  	<display-name>servletExam</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletExam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletExamUser</servlet-name>
  	<display-name>servletExamUser</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletExamUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletImages</servlet-name>
  	<display-name>servletImages</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletImages</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletInformation</servlet-name>
  	<display-name>servletInformation</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletQuestion</servlet-name>
  	<display-name>servletQuestion</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletSecretary</servlet-name>
  	<display-name>servletSecretary</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletSecretary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletSecuencia</servlet-name>
  	<display-name>servletSecuencia</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletSecuencia</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletStudent</servlet-name>
  	<display-name>servletStudent</display-name>
  	<description></description>
  	<servlet-class>net.controller.servletStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletLogin</servlet-name>
  	<url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletABCCareer</servlet-name>
  	<url-pattern>/servletABCCareer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletABCPlan</servlet-name>
  	<url-pattern>/servletABCPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletABCSchool</servlet-name>
  	<url-pattern>/servletABCSchool</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletABCSubjects</servlet-name>
  	<url-pattern>/servletABCSubjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletABCUsers</servlet-name>
  	<url-pattern>/servletABCUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletExam</servlet-name>
  	<url-pattern>/servletExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletExamUser</servlet-name>
  	<url-pattern>/servletExamUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletImages</servlet-name>
  	<url-pattern>/servletImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletInformation</servlet-name>
  	<url-pattern>/servletInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletQuestion</servlet-name>
  	<url-pattern>/servletQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletSecretary</servlet-name>
  	<url-pattern>/servletSecretary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletSecuencia</servlet-name>
  	<url-pattern>/servletSecuencia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletStudent</servlet-name>
  	<url-pattern>/servletStudent</url-pattern>
  </servlet-mapping>
</web-app>
